body{
    margin: 0;
}
h1{
    font-family: 'Montserrat' , sans-serif;
    font-size: 24px;
    font-weight: 700;
}
h2{
    font-family: 'Montserrat' , sans-serif;
    font-size: 20px;
    font-weight: 600;
}
p{
    font-family: 'Montserrat' , sans-serif;
    font-size: 16px;
    font-style: italic;
    font-weight: 600;
    
}
label{
    font-family: 'Montserrat' , sans-serif;
    font-size: 16px;
    font-weight: 700;
    margin-bottom: 10px;
}
input{
    font-family: 'Montserrat', sans-serif;
    padding: 10px;
    cursor: pointer;
    border: 2px solid #F18721;
}

option{
    font-family: 'Montserrat' , sans-serif;
    
 
}
select{
    border: 2px solid #F18721;
    padding: 10px;
    cursor: pointer;
    
}

header{
    padding-right: 10px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family: 'Montserrat' , sans-serif;
}
.img-wrapper img{
    max-width: 250px;    
}

#landing-input{
    background-image: url('../images/landing-img.jpg');
    height: 100vh;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.blue-box{
    background-color:#11498a44 ;
    height: 100vh;
}
.txt-wrapper{
    position: absolute;
    color: white;
    width: 40%;
    left: 10%;
    bottom: 35%;
}
.filter-input{
    background-color: #fdfcf3cb;
    padding: 20px;
    position: absolute;
    bottom: 0;
    left: 10%;
    right: 10%;
    display: flex;
    justify-content: space-around;
    padding: 20px;
    align-items: center;
    flex-wrap: wrap;
    color: #11498A;
    font-weight: 700;
}
.flex-input{
    display: flex;
    flex-direction: column;
  
}

#search-btn{
    margin-top: 25px;
    cursor: pointer;
    background-color: #F18721;
    /* display: none; */
    color: white;
    border: none;
   
}

/* cards */
.cards{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: center;
}
.card{
    /* display: flex; */
    max-width: 45vw;
    margin: 15px 10px;
}
.disabled{
    /* display:none; */
}
.hotel-img img{
max-height: 45vh;
width: 100%;
}

.hotel-img{
border: #F18721 2px solid;

}
.info-wrapper{
    display: flex;
    justify-content: space-between;
    background-color: #11498A;
    color: white;
    padding: 0 10px;
    flex-wrap: wrap;
}
.guests-price{
    display: flex;
    gap: 20px;
    align-items: center ;
    
}

/* TO DO
make footer
make responsive
design modal */

