h1{
    font-family: 'Mulish' , sans-serif;
    font-size: 24px;
    font-weight: 700;
}
h2{
    font-family: 'mulish' , sans-serif;
    font-size: 20px;
}
p{
    font-family: 'Mulish' , sans-serif;
    font-size: 16px;
    font-style: italic;
    
}
label{
    font-family: 'Mulish' , sans-serif;
    font-size: 16px;
    font-weight: 700;
    margin-bottom: 10px;
}
input{
    font-family: 'Mulish', sans-serif;
    padding: 10px;
    cursor: pointer;
    border: 2px solid #F18721;
}

option{
    font-family: 'Mulish' , sans-serif;
    
 
}
select{
    border: 2px solid #F18721;
    padding: 10px;
    cursor: pointer;
    
}

header{
    padding-right: 10px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family: 'mulish' , sans-serif;
}
.img-wrapper img{
    max-width: 250px;    
}

#landing-input{
    background-image: url('../images/landing-img.jpg');
    height: 100vh;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.blue-box{
    background-color:#11498a44 ;
    height: 100vh;
}
.txt-wrapper{
    position: absolute;
    color: white;
    width: 40%;
    left: 10%;
    bottom: 35%;
}
.filter-input{
    background-color: #fdfcf3cb;
    padding: 20px;
    position: absolute;
    bottom: 0;
    left: 10%;
    right: 10%;
    display: flex;
    justify-content: space-around;
    padding: 20px;
    align-items: center;
    flex-wrap: wrap;
    color: #11498A;
    font-weight: 700;
}
.flex-input{
    display: flex;
    flex-direction: column;
  
}

#search-btn{
    margin-top: 25px;
    cursor: pointer;
    background-color: #F18721;
    /* display: none; */
    color: white;
    border: none;
   
}

/* cards */
.card{
    width: 300px;
    height: 400px;
    margin: 20px;
    background-color: red;
}
.cards{
    display: flex;
}